html {
	position: relative;
	min-height: 100%;
}
nav {
	
}
.content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ECD078;
}
.spinner {
	border: 8px solid #D95B43;
	font-size: 100px;
	width: 1em;
	height: 1em;
	border-radius: .5em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	border-top-color: #53777A;
	position: absolute;
	z-index: 990;
	top: 50%;
	left: 50%;
	margin-left:-50px;
	margin-top:-50px;
}
@-webkit-keyframes spin {
	to {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes spin {
	to {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	to {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#map {
	height: 300px;
}
